@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div>
    <h3>
        My Projects
    </h3>
    <ol>

        @foreach (var project in (IEnumerable<Projects>)ViewData["MyProjects"])
        {
            <li>
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.ProjectId"> @project.ProjectName</a>

            </li>

        }
    </ol>
</div>


<div>
    <h3>
        Liked Projects
    </h3>
    <ol>

        @foreach (var project in (IEnumerable<SavedProjects>)ViewData["MyLiked"])
        {
            <li>
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.ProjectId"> @project.Project.ProjectName</a>
            </li>

        }
    </ol>
</div>
