@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
}

<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <ul class="nav flex-column nav-fill">
            <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item">
                <a asp-page="./Index" class="nav-link ">Profile</a>
            </li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item">
                <a id="change-password" asp-page="./ChangePassword" class="nav-link active">Change Password</a>
            </li>
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item">
                <a asp-page="./PersonalData" class="nav-link">Personal data</a>
            </li>
        </ul>

        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Update password</button>
        </form>
    </div>
    <div class="col"></div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
