@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="row">
    <div class="col"></div>
    <div class="col-md-6">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <ul class="nav flex-column nav-fill">
            <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item">
                <a asp-page="./Index" class="nav-link ">Profile</a>
            </li>
            <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item">
                <a id="change-password" asp-page="./ChangePassword" class="nav-link active">Change Password</a>
            </li>
            <li class="@ManageNavPages.PersonalDataNavClass(ViewContext) nav-item">
                <a asp-page="./PersonalData" class="nav-link">Personal data</a>
            </li>
        </ul>
        <div class="row mt-3">
            <div class="col">
                <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                <p>
                    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
                </p>
                <form asp-page="DownloadPersonalData" method="post" class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Download</button>
                </form>
                <p>
                    <a asp-page="DeletePersonalData" class="btn btn-danger btn-block">Delete</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col"></div>

</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
