@{
    ViewData["Title"] = "About";
}
<h1 class="text-center mb-5 display-3">What is ONNI?</h1>
<div class="row">
    <div class="col"></div>
    <div class="col-md-5 col-sm-12 mb-5">
        <img src="~/images/illustrations/ill1.svg" class="img-fluid" />
    </div>
    <div class="col"></div>"

</div>

<h2>A platform for digital collaboration</h2>

<div class="row mb-5">
    <div class="col-md-8 col-sm-12 align-self-center about px-5">
        <p class="align-middle">
            ONNI is designed for collaboration. In the era of digital information and communication, innovation relies on communication and teamwork. ONNI aims to provide social innovators with a platform to work together, share ideas, and inspire others to take on social initiatives of their own, in their own communities.
        </p>
    </div>
    <div class="col-md-4 col-sm-12">
        <img src="~/images/illustrations/ill2.svg" class="img-fluid" />
    </div>
</div>

<h2 class="text-right w-100 my-4">A repository for social innovators</h2>
<div class="row mb-5">
    <div class="col-md-4 col-sm-12">
        <img src="~/images/illustrations/ill3.svg" class="img-fluid" />
    </div>
    <div class="col-md-8 col-sm-12 align-self-center about px-5">
        <p>
            Having the right tools is important for any job, so we wanted to provide social innovators with the best tool to suit their needs. ONNI allows creators to upload image galleries, files, and details about all their projects to encourage a culture of communication and collaboration.
        </p>
        <p>
            ONNI also allows users the ability to create "child" projects that take another user's idea and re-implement or expand on it, allowing every project's full potential to be realized.
        </p>
    </div>

</div>

<h2>A social platform for social innovation</h2>
<div class="row mb-5">
    <div class="col-md-8 col-sm-12 align-self-center about px-5"></div>
    <div class="col-md-4 col-sm-12">
        <img src="~/images/illustrations/ill4.svg" class="img-fluid" />
    </div>
</div>

<a class="btn btn-primary btn-block mx-auto p-3" style="width: 400px; background-color: #006837; border: none" asp-area="" asp-controller="Projects" asp-action="index">Get Started!</a>
