@model onni.Models.ProjectUpload
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div data-page="project-create">

    <h2>Create</h2>
    <h4>Projects</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create"  >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectName" class="control-label"></label>
                    <input asp-for="ProjectName" class="form-control" />
                    <span asp-validation-for="ProjectName" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <label asp-for="BodyContent" class="control-label"></label>
                    <input asp-for="BodyContent" type="hidden" class="form-control" />
                    <span asp-validation-for="BodyContent" class="text-danger"></span>
                    <div id="codex-editor" class="cdx-input" data-placeholder="Custom placeholder"></div>
                </div>
                <div class="form-group">
                    <label asp-for="Files" class="control-label"></label>
                    <input asp-for="Files" class="form-control" name="Files" id="file-upload" />
                    <span asp-validation-for="Files" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Images" class="control-label"></label>
                    <input asp-for="Images" class="form-control" name="Images" id="img-upload" />
                    <span asp-validation-for="Images" class="text-danger"></span>
                </div>
              
                <div class="form-group">
                    <input asp-for="ParentProjectId" class="form-control" value="@ViewBag.ParentProjectId" type="hidden"/>
                </div>
                <div class="form-group">
                    <label asp-for="Tags" class="control-label"></label>
                    <input asp-for="Tags" class="form-control" />
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>

            <div class="dropzone-container" id="dropzone">
                <form action="UploadFiles" id="imgUploader" class="dropzone">
                    <div id="dropzone-drop-area" class="dropzone-drop-area"></div>
                </form>
                <input type="hidden" value=@ViewBag.guid id="guid" />

            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="~/lib/dropzone/dropzone.min.js"></script>
            <script>
                var guid = $("#guid").val();
                $(document).ready(function () {
                    
                    Dropzone.options.imgUploader = {
                        paramName: "file", // The name that will be used to transfer the file
                        maxFilesize: 100, // MB
                        maxFiles: 10,
                        clickable: true,
                        acceptedFiles: ".png,.jpg,.gif,.bmp,.jpeg",
                        uploadMultiple: false,
                        createImageThumbnails: true,
                        renameFile: function (file) {
                            return new Date().getTime() + '_' + file.name;
                        },
                        accept: function (file, done) {
                            if (file.name == "badfile.jpg") {
                                done("This is a bad file!");
                            }
                            else {
                            }
                        }
                    };


                });
            </script>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

</div>