html {
    scroll-behavior: smooth;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*nav*/
.nav-main {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}


nav .sub-nav {
    background-color: #ccc;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10
}

body{
    margin-top: 76px;
}


/*icons*/
.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    content: "";
    display: inline-block;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin: auto 5px;
}
.Technology {
    background-image: url("/images/icons/Technology.svg");
}
.Digital {
    background-image: url("/images/icons/Digital.svg");
}
.Social {
    background-image: url("/images/icons/Social.svg");
}
.Environmental {
    background-image: url("/images/icons/Environmental.svg");
}
.eye {
    background-image: url("/images/icons/eye.svg");
}
.heart {
    background-image: url("/images/icons/heart.svg");
}
.reply {
    background-image: url("/images/icons/comment.svg");
}
.like {
    background-image: url("/images/icons/like.svg")
}
.unlike {
    background-image: url("/images/icons/unlike.svg")
}
.plus {
    background-image: url("/images/icons/plus.svg")
}
.edit {
    background-image: url("/images/icons/edit.svg")
}
.delete-icon {
    background-image: url("/images/icons/delete.svg")
}
.project-icon {
    background-image: url("/images/icons/project.svg")
}

.no-hover:hover {
    background-color: inherit !important;
    color: inherit !important;
    cursor: default;
}

/*Card Images*/
.project-thumbnail img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-thumbnail {
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.title-author{
    display: flex;
}
/*comment*/
.comment {
    display: flex;
    flex-direction: column;
}
.comment-user {
    display: flex;
    align-items:center;

}
.profile-img{
    margin-right: 10px;
}
.profile-user h4{
    margin: 0;
}
.profile-user small {
    margin: 0;
    color: gray;
}

/*Scrollbar styling*/
/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
    border: 3px solid white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/*Horizontal scroller styles*/
.horizontal-scroll-container {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.horizontal-scroll-item {
    display: inline-block;
}

.horizontal-scroll-item .card {
    white-space: nowrap;
    overflow: hidden;
}

img.profile-placeholder {
    border-radius: 50% !important;
    display: block;
    max-width: 200px;
}

.about {
    color: #666;
    font-size: 115%;
    line-height: 1.6em;
}

.btn-primary {
    background-color: #006837 !important;
    border-color: #006837;
}

.btn-primary:hover {
    background-color: #555 !important;
    border-color: #006837;
}

.btn-outline-primary {
    border-color: #006837 !important;
    color: #006837;
}

.btn-outline-primary:hover, .btn-outline-info:hover {
    background-color: #999 !important;
}

.btn-outline-info {
    border-color: #006837;
    color: #006837;
}

.dropzone {
    border-color: #006837 !important;
    border-width: 1px !important;
    border-radius: 5px;
    background-image: url("../images/icons/upload.svg") !important;
    background-size: auto 70% !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}

.card .display-4 {
    font-size: 2.5em !important;
}

.delete-icon {
    position: relative;
}

.img-container {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
}

.img-container img {
    transition: 0.2s;
    width: 200px;
    height: 120px;
    object-fit: cover;
}

.deleteImg:hover img {
    filter: brightness(0.4);
}

.imgDel {
    display: inline-block;
    position: absolute;
    top: 50px;
    color: #dc3545;
    left: 80px;
    text-shadow: 0px 0px 10px black;
    pointer-events: none;
    font-weight: 600;
    opacity: 0;
    transition: 0.2s;
}

.deleteImg:hover p {
    opacity: 1;
}