/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav-main {
    position: fixed;
    top: 0px;
    background-color: #fff;
    width: 100%;
    z-index: 10;
}


nav .sub-nav {
    background-color: #ccc;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10
}

body{
    margin-top: 76px;
}


/*icons*/
.icon-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    content: "";
    display: inline-block;
    background-size: contain;
    height: 20px;
    width: 20px;
    margin: auto 5px;
}
.Technology {
    background-image: url("/images/icons/Technology.svg");
}
.Digital {
    background-image: url("/images/icons//Digital.svg");
}
.Social {
    background-image: url("/images/icons/Social.svg");
}
.Environmental {
    background-image: url("/images/icons/Environmental.svg");
}
.eye {
    background-image: url("/images/icons/eye.svg");
}
.heart {
    background-image: url("/images/icons/heart.svg");
}




/*comment*/
.comment {
    display: flex;
    flex-direction: column;
}
.comment-user {
    display: flex;
    align-items:center;

}
.profile-img{
    margin-right: 10px;
}
.profile-user h4{
    margin: 0;
}
.profile-user small {
    margin: 0;
    color: gray;
}